 .boxOne {
  width: 300px;
  margin: 0px;
  padding:0px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black;  */
  justify-content: space-between;
  } 

.boxOuter {
  max-width: 300px;
  margin: 0px;
  padding:0px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  justify-content: center;
}


.boxTwo {
  max-width: 300px;
  margin-top: 10px;
  display: flex;
  /* border: 1px solid blue;  */
  justify-content: space-between;
}

.button {
  padding: 8px 5px;
  background-color: aliceblue;
  font-size: 15px;
  border-radius: 5px;
  border: 3px solid skyblue;
  margin-top: 5px;
  color: #777;
  
}





